//map feature variables
var map;
var mapBounds;
var mapZoom;
var mapHeight;

//html structure variables
var windowHeight;
var navbarHeight;
var mapRowHeight;
var contentHeight;
var mapRow;
var navbar;
var changeX;

//data variables
var geojson;
var clusterLayer;
var newMarker;
var inBounds = [];

//logic variables
var downTime;
var upTime;
var clicked;
var locateZoom = 15;

var app = app || {};

$(document).ready(function(){
  //=========================================CREATES MAP
  app.initialize();

  map.addEventListener('viewreset', function(){
    console.log("zoom: " + map.getZoom());
    console.log("map move!");
    console.log("data points: " + inBounds.length)

    mapZoom = map.getZoom();
    app.markerClusters();
  });

  window.onresize = function () {
    mapRow = $('.row-fluid')[0];
    navbar = $('.navbar')[0];

    windowHeight = window.innerHeight;
    navbarHeight = $(navbar).height();
    contentHeight = windowHeight - contentHeight;
    mapHeight = $('#map').height(contentHeight*changeX);
    mapRowHeight = $(mapRow).height(mapHeight);

    mapHeight = $('#map').height(contentHeight);
    mapRowHeight = $(mapRow).height(mapHeight);

    console.log("map row height: " + $(mapRow).height());
    console.log("map height: " + mapHeight);
  }


  //=========================================ADD MARKER ON CLICK & HOLD
  map.on('mousedown', function mouseState(e) {
    downTime = Date.now()
  });

  map.on('mouseup', function(e){
    var latlng = e.latlng;
    var save;
    console.log(clicked);

    if(!clicked){
      upTime = Date.now();
      if (downTime && (downTime+800) < upTime){

        app.newLocation(latlng.lng, latlng.lat);
      }

      $("#save-marker").on('click', function(){
        save = true;
        $.ajax({
          url: '/bikeracks',
          type: 'post',
          dataType: 'json',
          data: {
            bikerack: {
              address: "TEST",
              neighborhood: "TEST",
              lat: latlng.lng,
              lng: latlng.lat,
              location: [latlng.lng, latlng.lat]
            }
          },
          success: function(){
            console.log('marker saved!');
          }
        });
      })

      // if(!save){
      //   map.removeLayer(newMarker);
      // }

    }
    else{ console.log("click-hold not long enough")}
    downTime = false;
  });

  //=========================================CENTER MAP ON USER LOCATION
  var geolocate = document.getElementById('geolocate');
  if (!navigator.geolocation) {
    alert('Geolocation is not available');
  } else {
    geolocate.onclick = function (e) {
      e.preventDefault();
      e.stopPropagation();
      map.locate();
    };
  }
  map.on('locationfound', function(e) {
    map.fitBounds(e.bounds);

    L.mapbox.featureLayer({
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [e.latlng.lng, e.latlng.lat],
      },
      properties: {
          'title': 'Here I am!',
          'marker-color': '#ff8888',
          'marker-symbol': 'star'
      }
    }).addTo(map);

  });

  // If the user chooses not to allow their location
  // to be shared, display an error message.
  map.on('locationerror', function() {
      // alert('Position could not be found');
    var popup = L.popup()
    .setLatLng(map.getCenter())
    .setContent('<p>Having trouble finding your location</br> Hellp us help you, turn on location services</p>')
    .openOn(map);
  });

  //=========================================CENTERS MAP ON LOCATION SEARCH VIA FORM
  $('#search-location').on("submit", function(e){
    e.preventDefault();
    var geocoder = L.mapbox.geocoder('mapbox.places');
    var query = $("#address").val()
    console.log(query)
    geocoder.query(query, showMap);

    function showMap(err, data) {

      L.mapbox.featureLayer({
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [data.latlng[1], data.latlng[0]],
        },
        properties: {
            'title': 'Your Search',
            'description': query,
            'marker-size': 'large',
            'marker-color': '#66ccff',
            'marker-symbol': 'embassy'
        },
        draggable: true

      }).addTo(map);

      if (data.lbounds) {
        map.fitBounds(data.lbounds);
      } else if (data.latlng) {
        map.setView([data.latlng[1], data.latlng[0]], locateZoom);
      }
    }
  });


});//END OF DOCUMENT.READY

app.initialize = function(){
  L.mapbox.accessToken = 'pk.eyJ1IjoiZ2FicmllbGxlaWRhcnVpemZ1bmVzIiwiYSI6IjNjNGQ5MjM3MmMxMGI1YzNlMDJlZDZlYzA3NTc5NTJhIn0.rN0bLsGk3EFALg_1zo09eg';
  map = L.mapbox.map('map', 'mapbox.streets')

  if(window.innerWidth<500){
    map.setView([41.893974, -87.627945], 16);
  }
  else{
    map.setView([41.893974, -87.627945], 14);
  }

  map.zoomControl.setPosition('bottomleft');
  console.log("map loaded!")

  app.getData().done(app.markerClusters);

  mapRow = $('.row-fluid')[0]
  changeX = 1;

  windowHeight = window.innerHeight;
  navbarHeight = $(navbar).height();

  contentHeight = windowHeight - contentHeight;
  mapHeight = $('#map').height(contentHeight*changeX);
  mapRowHeight = $(mapRow).height(mapHeight);

}


//=========================================LOADS MARKERS FROM DATABASE
app.getData = function() {
  return $.ajax({
    url: '/api/markers.json',
    type: 'get',
    dataType: 'text',
    success: function(data){
      geojson = $.parseJSON(data);
      console.log("Bikerack geojson data returned!");
    }
  });
}

//=========================================GETS MARKERS WITHIN BOUNDS

app.getInBounds = function(){
  var tempLayer = L.mapbox.featureLayer()
  mapBounds = map.getBounds();
  inBounds = [];

  L.geoJson({
      type: 'FeatureCollection',
      features: geojson
    })
    .eachLayer(function(layer) {
      tempLayer.addLayer(layer);
  });

  tempLayer.eachLayer(function(marker) {
    if (mapBounds.contains(marker.getLatLng())) {
      inBounds.push(marker.feature);
    }
  })
}


//=========================================CREATES MARKER CLUSTERS

app.markerClusters = function() {
  app.getInBounds();

  if( window.innerWidth < 500 ){

    clusterLayer = new L.MarkerClusterGroup({
      chunkedLoading: true,
      disableClusteringAtZoom: 18,
    });
  }
  else{
    clusterLayer = new L.MarkerClusterGroup({
      chunkedLoading: true,
      disableClusteringAtZoom: 16,
    });
  }

  L.mapbox.featureLayer({
      type: 'FeatureCollection',
      features: inBounds
    })
    .eachLayer(function(layer) {
      clusterLayer.addLayer(layer);
    });

  map.addLayer(clusterLayer);

  clusterLayer.on('click', function(e) {
    clicked = true;
    map.panTo(e.layer.getLatLng());

    e.layer.openPopup();
    $(".marker-info").html('<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="show-comments">Show Comments</button>')
    $(".marker-info").show();
    $(".leaflet-popup").addClass("bikerack-info");


    e.layer.on('closePopup', function(){
      $(".leaflet-popup").removeClass("bikerack-info");
    });

    $("#show-comments").on('click', function(){
      console.log('clicked');
      $(".leaflet-popup").removeClass("bikerack-info");
      clicked = false;
      e.layer.closePopup();
    });

  });

  clusterLayer.on('mouseover', function(e) {
    e.layer.openPopup();
  });

  clusterLayer.on('mouseout', function(e) {
    if(!clicked){
      e.layer.closePopup();
    }
  });
}


//creates new marker from click
app.newLocation = function(lng, lat){

  newMarker= L.mapbox.featureLayer({
    type: 'Feature',
    geometry: {
        type: 'Point',
        coordinates: [ lng, lat ]
    },
    properties: {
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'bicycle',
        'className': 'newMarker'
    },
    draggable: true
  })
  .bindPopup('<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="save-marker">Save Marker</button>')
  .addTo(map);

};
