// Place all the styles related to the bikeracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: 1;
}

#loading-giph{
  margin: 0 auto;
  width: 200px;
}

.map .tabs-ui {
  position:relative;
  min-height:200px;
  width:240px;
  clear:both;
  margin:25px 0;
  }


// #map {
//  transform:rotateX(-50deg);
// }
// /* Pick a number between 0 and -90.*/
//
// body {
// perspective:1800;
// }
