// Place all the styles related to the bikeracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  display: block;
}




// .row >#map{
//   height: 80%;
// }

// #collapseExample{
//   height: 19%;
//   background-color: lightblue;
//   bottom: 0;
//   top: 0;
//   display: block;
// }
.marker-info{
  display: none;
}



// #map {
//  transform:rotateX(-50deg);
// }
// /* Pick a number between 0 and -90.*/
//
// body {
// perspective:1800;
// }
