<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />

  <title>UrbnBikeApi</title>

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- mapbox -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top"> <!--navbar-fixed-top-->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span></span> </a>
      <a class="navbar-brand" href="#"> Urbn Bike </a>
  </div> <!--end navbar branding-->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li id='geolocate'><a href="/">Locate bikeracks near me!</a></li>
    </ul>
    <div class="pull-right">
            <form class="navbar-form" >
                <div class="input-group">
                    <input id="address" type="text" class="form-control" placeholder="Search Address">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="search-location" type="button"></button>
                    </div>
                </div>
            </form>
        </div>
  </div> <!--end navbar links -->
</div>
</nav>

<%= yield %>


</body>
</html>
